<h1>Welcome to the Car tracker app</h1>
<p>The purpose of this app is to allow for a car garage to be able to track all
  <br>the vehicles that are in their shop and the shop employee can then view the
  <br>vehicles in the garage with the details of the vehicle and the customer statement
  <br>of what is wrong or they can go to the categories tab and look at which vehicles they
  <br>have in the shop that certain problem.</p>
