<h1>Categories</h1>
<% @problems.each do |issue| %>
  <div class="problem">
    <a href="<%= problem_path(issue) %>">
      <h2><%= issue.problem_title %></h2>
      <br>
      <img src="<%= issue.img_url %>">
    </a>
  </div>
<% end %>
