<h1>Problems</h1>
<% @problems.each do |issue| %>
  <div class="problem">
    <h2><a href="<%= problem_path(issue) %>"><%= issue.problem %></a></h2>
    <img src="<%= issue.img_url %>">
  </div>
<% end %>
