<h1>Categories</h1>
<% @problems.each do |issue| %>
  <div class="problem">
    <h2><a href="<%= problem_path(issue) %>"><%= issue.problem_title %>
      <br>
      <img src="<%= issue.img_url %>"></a></h2>
  </div>
<% end %>
